@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@font-face {
  font-family: "nerd";
  src: url(../font/anonymice_nerd_font_complete_mono_windows_compatible.ttf);
}
* {
  font-family: "Roboto Mono", monospace;
  text-decoration: none !important;
}

body {
  background-color: #FFFFFF;
  overflow-x: hidden;
}

header {
  margin-top: 4rem;
  font-size: 2vm;
}

footer {
  background-color: #21209c;
  font-size: 12px;
}

textarea {
  resize: none !important;
}

h1 {
  font-size: 7vw;
  text-decoration: underline !important;
  animation-name: fade-in-bottom;
  animation-duration: 0.5s;
}

h1:after {
  content:"┃";
	opacity: 0;
	animation: cursor 1s infinite;
}

h2 {
  font-size: 13vw;
}

h5 {
  font-size: 2.5vh;
}

p {
  font-size: 2.2vw;
  font-weight: 200;
}

.nerd {
  font-family: nerd;
  font-size: 10vh;
}



.foo-img{
  float: right;
  margin: 5px 10px 10px 15px;
  height: 20px;
}

.sep {
  height: 15vw;
}

.col-fullscreen {
  height: 95vh;
}

.col-wt {
  background-color: #f1f1f1;
  color: #000000;
}

.col-lt {
  background-color: #fdb827;
  color: #151515;
}

.col-dk {
  background-color: #151515;
  color: #FFFFFF;
}

.col-bl {
  background-color: #21209c;
  color: #FFFFFF;
}

.col-rd {
  background-color: #FF2727;
  color: #FFFFFF;
}

/* Links */
.foo-link {
  color: white;
}

.foo-link:hover {
  color: white;
  text-decoration: underline !important;
}

/* ID's */
#wrap {
	box-sizing: border-box;
	display: table-cell;
	vertical-align: middle;
}

/* animaciónes */

@keyframes cursor {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

 @-webkit-keyframes fade-in-bottom {
  0% {
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
            transform: translateY(0);
    opacity: 1;
  }
}

.photo-gallery {
  color:#313437;
  background-color:#fff;
}

.photo-gallery p {
  color:#7d8285;
}

.photo-gallery h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.photo-gallery .photos {
  padding-bottom:20px;
}

.photo-gallery .item {
  padding-bottom:30px;
}


